@media (min-width: 600px) {
    .logoImg {
        width: 11rem;
        margin: 1rem;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: #F4F4F4;
        gap: 2rem;
    }

    .navbar p {
        margin: 2rem;
        font-size: 1rem;
    }

    .navbar div {
        width: auto;
    }

    .navbar nav {
        display: flex;
        align-self: flex-end;
        justify-content: right;
        position: relative;
        margin-bottom: 1rem;
        margin-right: 2rem;
        width: 100%;
    }

    .container-hero-image {
        height: 400px;
    }

    .grid-images {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .member-img {
        width: 100%;
        height: 200px;
    }

    .join-page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        align-items: flex-start;
        margin: 0 3rem;
    }

}

@media (min-width: 900px) {
    .logoImg {
        width: 13rem;
        margin: 1rem;
    }

    .navbar p {
        font-size: 1.5rem;
    }

    .navbar div {
        width: auto;
    }

    .navigation {
        gap: 3rem;
    }

    .navbar nav {
        margin-right: 6rem;
    }

    .container-hero-image {
        height: 600px;
    }

    .container-hero-image h1 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        padding: 10px 10px;
    }


    .card {
        background-color: #726c722a;
        padding: 1rem 1rem;
        border-radius: 3%;
        border: 1px solid #726c722a;
    }

    .grid-images {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

    }

    .member-img {
        width: 100%;
        height: 250px;
    }

    .footer {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        background-color: var(--nav-hover-background-color);
        text-align: left;
    }

    .footer-column {
        padding: 2rem;
    }

    .join-page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        align-items: flex-start;
        margin: 0 6rem;
    }
}