.card {
    background-color: #726c722a;
    padding: 1rem 1rem;
    border-radius: 3%;
    border: 1px solid #726c722a;
}

.grid-images {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 1400px;
}

.prophet-img {
    width: 100%;
}

@media (max-width: 900px) {
    .grid-images {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .grid-images {
        grid-template-columns: 1fr;
    }

    .prophet-img {
        width: 90%;
    }
}